@charset "UTF-8";

/* Configurações para telas grandes */
main > #container {
    margin-top: calc(70vh - (21vw + 120px));
    max-width: 1200px;
    width: 70vw;
    height: min(21vw + 120px, 440px);
}

main > #container > .background-image {
    right: 0;
    width: 45%;
    border-radius: 0 20px 20px 0;
}

main > #container > #login {
    left: 0;
    width: 55%;
}

main > #container > #login > h1 {
    font-size: clamp(0px, 2px + 3vw, 46px);
    margin: 10px 0 5px 0;
}

main > #container > #login > p {
    font-size: clamp(0px, 4px + 1vw, 20.5px);
}

main > #container > #login > form > .input-box {
    max-height: 55px;
    height: 4vw;
    margin: clamp(0px, 0.8vw, 15px) auto 0 auto;
    border-radius: clamp(0px, 1vw, 15px);
}

main > #container > #login > form > .input-box > input {
    max-height: 50px;
    height: 3.6vw;
    font-size: clamp(0px, 4px + 1.1vw, 20px);
    border-radius: clamp(0px, 1vw, 15px);
}

main > #container > #login > form > #input-entrar {
    max-height: 55px;
    height: 4vw;
    margin: clamp(0px, 0.8vw, 15px) auto 0 auto;
    font-size: clamp(0px, 8px + 1vw, 25px);
    border-radius: clamp(0px, 1vw, 13px);
}

main > #container > #login > form > #esqueci-senha {
    max-height: 55px;
    height: 4vw;
    margin: clamp(0px, 0.8vw, 15px) auto 0 auto;
    font-size: clamp(0px, 4px + 1vw, 19px);
    border-radius: clamp(0px, 1vw, 13px);
}

main > #fundo-btn-menu {
    visibility: hidden;
}

main > #symbol-windows {
    padding: clamp(0px, 3vw, 48px);
}

main > #symbol-windows > #windows-image {
    width: clamp(0px, 25px + 5vw, 90px);
}

main > #symbol-windows > p {
    font-size: clamp(0px, 6px + 1vw, 21px);
}

/* Configurações extras */
label > .material-symbols-outlined {
    font-size: clamp(0px, 15px + 2vw, 2.7em);
}

/* Configuração menu */
#menu-big {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 130px;
    width: 7vw;
    min-width: 90px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
}

#menu-big > div {
    width: 100%;
    padding-top: min(2vw, 30px);
    padding-bottom: min(2vw, 30px);
}

#menu-big > div:hover {
    background-color: rgba(0, 0, 0, 0.473);
}

#menu-big > div > img {
    display: block;
    margin: auto;
}

#menu-big > #win11-icon-bs > img {
    width: 60%;
}

#menu-big > #win10-icon-bs > img {
    width: 69%;
}

#menu-big > #win7-icon-bs > img {
    width: 67%;
}

#menu-big > a img {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
}

#menu-ativo {
    display: none;
}

/* Configurações para imagem de fundo */
#bg-mobile {
    display: none;
}

#bg-tablet {
    display: none;
}

#bg-bigscreen {
    display: block;
    background: blue url(../imgs/win7-background-bigscreens.png) center center /cover no-repeat;
}