@charset "UTF-8";

@media screen and (max-width: 580px) { 
    body main > #container {
        margin-top: calc(7vw + 15px);
    }
    body main > #symbol-windows > p {
        display: none;
    }
    body main > #container > #login > form > #esqueci-senha {
        border: 2px solid #D2370C;
    }
}

:root {
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --gradient01: #e8ff1e;
    --gradient02: #46b5ff;
    --windows-number: "7";
    --input-box-color: #28591B;
    --input-color: #c4ff77;
    --button-color: #D2370C;
}

/* -------------------- Mobile First -------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, var(--gradient01), var(--gradient02));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font);
}

main > #container {
    display: block;
    margin: 40px auto 50px auto;
    max-width: 360px;
    width: 80vw;
    min-width: 180px;
    max-height: 550px;
    height: calc(90vw + 120px);
    min-height: 100px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.438);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

main > #container > #background-image {
    width: 100%;
    height: 38%;
    background: blue url(../imgs/win7-background-mobile.png) center center /cover no-repeat;
    border-radius: 20px 20px 0 0;
}

main > #container > #login {
    width: 100%;
    height: 62%;
    padding: 4px;
    text-align: center;
}

main > #container > #login > h1 {
    margin-bottom: 2px;
    font-size: clamp(0px, 7px + 5vw, 35px);
    font-weight: 900;
}

main > #container > #login > p {
    font-size: clamp(0px, 6px + 2vw, 16px);
}

main > #container > #login > form > .input-box {
    position: relative;
    width: 90%;
    max-height: 45px;
    height: 10vw;
    margin: clamp(0px, 9px + 1vw, 12px) auto 0 auto;
    background-color: var(--input-box-color);
    border-radius: clamp(0px, 2vw, 12px);
}

main > #container > #login > form > .input-box > input {
    width: 84%;
    max-height: 40px;
    height: 8.5vw;
    position: absolute;
    top: 6%;
    left: 15%;
    padding-left: 3px;
    border: none;
    border-radius: clamp(0px, 2vw, 12px);
    background-color: var(--input-color);
    font-size: clamp(0px, 4px + 3vw, 16px);
    outline: none;
}

main > #container > #login > form > .input-box > input:focus-within {
    background-color: white;
}

main > #container > #login > form > #input-entrar {
    width: 90%;
    max-height: 45px;
    height: 10vw;
    margin: clamp(0px, 8px + 1vw, 12px) auto 0 auto;
    background-color: var(--button-color);
    border: none;
    border-radius: clamp(0px, 1.7vw, 10px);
    font-size: clamp(0px, 8px + 2vw, 25px);
    color: white;
}

main > #container > #login > form > #esqueci-senha {
    position: relative;
    display: block;
    width: 90%;
    max-height: 45px;
    height: 10vw;
    margin:clamp(0px, 8px + 1vw, 12px) auto 0 auto;
    border-radius: clamp(0px, 1.7vw, 10px);
    border: 3px solid var(--button-color);
    color: var(--button-color);
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(0px, 3px + 3vw, 16px);
}

#esqueci-senha > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > #fundo-btn-menu {
    position: relative;
    display: inline-block;
    width: clamp(0px, 35px + 5vw, 70px);
    height: clamp(0px, 30px + 4vw, 60px);
    margin-top: clamp(0px, 4vw, 20px);
    margin-left: clamp(0px, 4vw, 20px);
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 10px;
}

main > #fundo-btn-menu > #btn-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(0px, 10px + 7vw, 45px);
}

main > #symbol-windows {
    float: right;
    text-align: center;
    padding: clamp(0px, 2.5vw, 20px);
}

main > #symbol-windows > #windows-image {
    width: clamp(0px, 20px + 10vw, 80px);
}

main > #symbol-windows > p {
    color: white;
    font-size: clamp(0px, 6px + 2vw, 16px);
    font-weight: 600;
}

main > #symbol-windows > #windows-number::after {
    content: var(--windows-number);
}

/* Configurações extras */
.material-symbols-outlined {
    color: white;
}

label > .material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: clamp(0px, 6px + 5vw, 2.2em);
    width: 8%;
}

/* Configuração menu */
    #menu-ativo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#menu-ativo > #barra-lateral {
    position: absolute;
    max-width: 100px;
    width: 25%;
    height: 100%;
    background-color: #1e1e1e;
}

#menu-ativo > #barra-lateral div {
    width: 100%;
    padding-top: clamp(0px, 10px + 3vw, 20px);
    padding-bottom: clamp(0px, 10px + 3vw, 20px);
}

#menu-ativo > #barra-lateral div:hover {
    background-color: rgba(0, 0, 0, 0.397);
}

#menu-ativo > #barra-lateral img {
    display: block;
    margin: auto;
}

#menu-ativo > #barra-lateral > #win11-icon-mobile > img {
    width: 60%;
}

#menu-ativo > #barra-lateral > #win10-icon-mobile > img {
    width: 69%;
}

#menu-ativo > #barra-lateral > #win7-icon-mobile > img {
    width: 67%;
}

#menu-ativo > #barra-lateral > a img {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
}

#menu-ativo > #fundo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.753);
}

#menu-big {
    display: none;
}